@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroylight.woff2) format(woff2),
         url(../fonts/gilroylight.woff) format(woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroyextrabold.woff2) format(woff2),
         url(../fonts/gilroyextrabold.woff) format(woff);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensanslight.woff2) format(woff2),
         url(../fonts/opensanslight.woff) format(woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans.woff2) format(woff2),
         url(../fonts/opensans.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}

/*---General---*/

body {
    min-width: 1240px;
    margin: 0;
    padding: 0;
    
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn-default {
    position: relative;
    display: inline-block;
    
    padding: 0 44px;
    
    text-align: center;
    vertical-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.6px;
    text-transform: uppercase;

    color: #000000;
    border: none;
    
    cursor: pointer;
}

.btn-default:active {
    color: rgba(0, 0, 0, 0.3);
}

.btn-default::before {
    content: "";
    position: absolute;
    
    top: 8px;
    left: 0;
    
    width: 220px;
    height: 8px;
    
    background-color: #f0c52e;
    z-index: -1;
}

@keyframes btn-move {
  to {
    top: -11px;
    padding: 20px 0;
  }
}

.btn-default:hover::before {
    animation-name: btn-move;
    animation-duration: 0.13s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/*---header---*/

.header-main {
    width: 1040px;
    margin-top: 40px;
    padding: 0 60px;
    background-color: #f7e296;
}

.header-main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header-logo,
.main-footer-logo {
    font-size: 48px;
    line-height: 48px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.48px;
}

.main-header-logo {
    position: relative;
    top: -24px;
    left: -2px;
}

.main-header-logo:hover,
.user-nav a:hover,
.site-nav a:hover,
.catalog-nav a:hover,
.main-header-logo:focus,
.user-nav a:focus,
.site-nav a:focus,
.catalog-nav a:focus {  
    opacity: 0.6;
}

.main-header-logo:active,
.user-nav a:active,
.site-nav a:active,
.catalog-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.search-form {
    display: flex;
    position: relative;
    min-height: 49px;
    width: 440px;
    margin-top: -14px;
}

.search-form input[type=search] {
    position: relative;
    
    width: 356px;
    margin: 0;
    padding-left: 38px;
    
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.15px;

    border: none;
    border-bottom: 2px solid transparent;
    background: none;
    outline: none;
    opacity: 0.3;
}

.search-form::before {
    content: "";
    position: absolute;
    
    top: 17px;
    left: 3px;
    
    width: 16px;
    height: 16px;
    
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.search-form button[type=submit] {
    display: none;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 18px;
    padding-right: 19px;
    
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.15;
    
    border: 2px solid #000000;
    background-color: #f7e296;
    cursor: pointer;
}

.search-form input[type=search]:focus + button[type=submit],
.search-form button[type=submit]:hover,
.search-form button[type=submit]:active,
.search-form button[type=submit]:focus {
    display: inline-block;
    vertical-align: bottom;
}
                                
.search-form input[type=search]:hover {
    opacity: 0.6;
}

.search-form input[type=search]:active,
.search-form input[type=search]:focus {
    border-bottom: 2px solid #000000;
    opacity: 1;
}

.search-form button[type=submit]:hover {
    color: #ffffff;
    background-color: #000000;
}

.search-form button[type=submit]:active,
.search-form button[type=submit]:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.user-nav,
.site-nav,
.user-tools {
    display: flex;
}

.user-tools {
    justify-content: space-between;
    margin-bottom: 41px;
}

.user-nav,
.site-nav,
.catalog-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-nav a,
.site-nav a,
.catalog-nav a {
    color: #000000;
}

.user-nav li {
    display: block;
    position: relative;
    top: -5px;
    max-width: 140px;
    padding-left: 60px;
}

.user-nav a {    
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: right;
}

.user-nav li:nth-child(2) {
    margin-left: 177px;
}

.user-nav li:last-child {
    margin-left: 3px;
}

.user-nav .login-link a::before {
    content: "";
    
    position: absolute;
    height: 12px;
    width: 13px;
    top: 9px;
    left: 34px;
    
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-nav .differences a::before {
    content: "";
    
    position: absolute;
    height: 10px;
    width: 10px;
    top: 11px;
    left: 40px;
    
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-nav .basket a::before {
    content: "";
    
    position: absolute;
    height: 12px;
    width: 12px;
    top: 9px;
    left: 38px;
    
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-nav .login-link a:hover::before,
.user-nav .differences a:hover::before,
.user-nav .basket:hover a::before,
.user-nav .login-link a:focus::before,
.user-nav .differences a:focus::before,
.user-nav .basket:focus a::before {
    opacity: 0.6;
}

.user-nav .login-link a:active::before,
.user-nav .differences a:active::before,
.user-nav .basket a:active::before {
    opacity: 0.3;
}

.main-nav {
    display: flex;
    height: 40px;
    padding-bottom: 137px;
    margin-top: -2px;
}

.main-nav-inner {
    padding-bottom: 25px;
}

.site-nav-item:first-child {
    width: 340px;
    margin-right: 200px;
}

.site-nav-item:first-child > a::before {
    content: "";
    
    position: absolute;
    height: 16px;
    width: 16px;
    top: 3px;
    left: 230px;
    
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.site-nav-item:nth-child(2) {
    margin-right: 35px;
}

.site-nav-item:nth-child(3) {
    margin-right: 108px;
}

.site-nav .catalog-nav {
    display: none;
    position: absolute;
    top: 210px;
    margin-left: -60px;
    padding: 0 60px;
    width: 1040px;
    height: 129px;
    background-color: #f7e296;
    z-index: 1;
}

.site-nav-item:hover .catalog-nav {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.site-nav a {
    position: relative;
    top: -10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.catalog-nav a {
    display: block;
    margin-bottom: 6px;
    margin-right: 59px;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.15px;
    text-transform: none;   
}

.catalog-nav .quadro {
    padding-bottom: 25px;
}

/*---INDEX---*/

.promo-slider {
    position: relative;
    display: flex;   
    position: relative;
    width: 1160px;
}

.promo-slider-controls {
    position: absolute;
    right: 58px;
    top: 209px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
}

.psc {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 8px;
    margin-right: 4px;
    
    border-radius: 50%;
    cursor: pointer;
}

.psc::after {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 1;
    
    width: 10px;
    height: 10px;
    
    border: 1px solid #000000;
    border-radius: 50%;
}

.psc.active::before {
    content: "";
    
    position: absolute;
    left: 11px;
    top: 11px;
    z-index: 2;
    
    width: 2px;
    height: 2px;
    
    border: 1px solid #000000;
    border-radius: 50%;
}

.slide-columns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 80px;
}

.slide-columns::before {
    content: "";
    
    position: absolute;
    top: -74px;
    left: 50%;
    margin-left: 20px;
    
    width: 100px;
    height: 7px;
    
    background-color: #ffffff;
}

.slide-column {
    position: relative;
    top: -115px;
    width: 560px;
}

.slide-column:last-child {
    display: flex;
    justify-content: center;
}

.promo-slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.promo-slide {
    display: none;
}

.promo-slide:nth-child(1) {
    display: block;
}

.promo-slide:nth-child(1) img {
    position: relative;
    top: 4px;
    left: 2px;
}

.promo-slide:nth-child(2) img {
    position: relative;
    top: 16px;
    left: 9px;
}

.promo-slide:nth-child(3) img {
    position: relative;
    top: 69px;
    left: 14px;
}

.number-slide {
    position: absolute;
    right: 6px;
    top: -10px;
    font-size: 179.2px;
    line-height: 179.2px;
    font-weight: 800;
    letter-spacing: 1.792px;
    color: #ffffff;
}

.slide-content {
    position: relative;
    top: 83px;
    left: 40px;
}

.slide-title {
    display: inline-block;
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    letter-spacing: 0.47px;
    
    margin-bottom: 4px;
}

.slide-text {
    margin-bottom: 50px;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.15px;
    
}

.slide-content a {
    margin-bottom: 58px;
}

.slide-table {
    margin-left: -3px;
    display: flex;
    justify-content: flex-start;
}

.slide-table td {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: 0.36px;
    width: 160px; 
    margin-bottom: 0px;
}

.slide-table th {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    left: 2px;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.13px;
    width: 160px;
}

.slide-table th:nth-child(2) ,
.slide-table td:nth-child(2)  {
    width: 140px;
}

.popular {
    margin-bottom: 180px;
}

.popular-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.popular a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.18px;
    color: #000000;
}

.popular-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;
    background-color: rgba(240, 197, 46, 0.5);
}

.popular-item:nth-child(2) img {
    position: relative;
    top: 19px;
}

.popular-item span {
    display: inline-block;
    width: 160px;
}

.popular-item a:hover .popular-item-img,
.popular-item a:active .popular-item-img,
.popular-item a:focus .popular-item-img {
    background-color: rgba(240, 197, 46, 1);
}

.popular-item a:active,
.popular-item a:active img{
    opacity: 0.3;
}

.services-slider {
    display: flex;
    height: 288px;
    margin-bottom: 95px;
}

.service-slider-wrapper {
    background-color: #e5e5e5;
}

.service-slider-controls {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 100px;
}

.btn-service-slider {
    position: relative;
    display: inline-block;
    
    padding: 0 25px;
    
    text-align: center;
    vertical-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.6px;
    text-transform: uppercase;

    color: #000000;
    border: none;
    
    cursor: pointer;
}

.btn-service-slider::before {
    content: "";
    position: absolute;
    
    top: 8px;
    left: 0;
    
    width: 160px;
    height: 8px;
    
    background-color: #f0c52e;
}

.btn-service-slider:hover::before {
    top: -11px;
    padding: 20px 0;
}


.btn-service-slider:active::before {
    color: #f7e184;
    background: #000000;
}

.services-slider-slides {
    margin: 0;
    padding: 0;
    width: 460px;
    
    list-style: none;
}

.services-slider-slides li {
    display: none;
    position: relative;
    top: -26px;
}

.services-slider-slides li:first-child {
    display: block;
}

.services-slider-slides h2 {
    margin: 0;
    margin-bottom: 31px;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.47px;
}

.services-slider-slides p {
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.15px; 
}

.brands {
    display: flex;
    justify-content: space-between;
    margin-bottom: 145px;
}

.brands img {
    filter: grayscale(1) opacity(0.2);
}

.brands img:hover {
    filter: none;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -1px;
    margin-bottom: 90px;
}

.index-columns h2::before {
    content: "";
    
    position: absolute;
    left: 1px;
    top: -52px;
    
    width: 80px;
    height: 7px;
    
    background-color: #000000;
}

.info {
    width: 475px;
}

.contacts {
    width: 560px;
}

.info h2,
.contacts h2 {
    position: relative;
    margin: 0;
    margin-bottom: 43px;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.47px;
}

.info p,
.contacts p {
    margin-bottom: 30px;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0px;
}

.contacts p {
    margin-bottom: 39px;
}

.contacts img {
    position: relative;
    left: 1px;
    margin-bottom: 71px;
}

.partners {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 36px;
    margin-top: 66px;
    margin-bottom: 62px;
}

.partners li {
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: 0px;
}

/*---CATALOG---*/

.container-inner {
    padding-left: 60px;
}

.page-title {
    margin: 0;
    padding: 0;
    margin-top: 36px;
    margin-bottom: 23px;
    margin-left: 60px;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.47px;
}

.breadcrumbs {
    display: inline-block;
    margin-bottom: 41px;
    margin-left: 60px;
}

.breadcrumbs a {
    position: relative;
    float: left;
    padding-right: 37px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a::after {
    content: "";
    position: absolute;
    right: 19px;
    top: 9px;
    
    width: 4px;
    height: 7px;
    
    background-image: url(../img/nav-arrow.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current::after {
    display: none;
}

.catalog-titles-wrapper {
    width: 100%;
    background: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 35%,#ebebeb 35%,#ebebeb 100%);
}

.catalog-titles-wrapper .container {
    display: flex;
    position: relative;
}

.catalog-titles-wrapper h2 {
    margin: 0;
    margin-left: 60px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: .23em;
    text-transform: uppercase;
}

.filter-nav,
.sorting-nav {
    padding-top: 23px;
    padding-bottom: 23px;
}

.filter-nav {
    padding-right: 177px;
    background-color: #dcdcdc;
}

.sorting-nav {
    display: flex;
}

.sorting-nav h2 {
    margin-left: 72px;
}

.sorting-list {
    margin-top: -2px;
    margin-left: 51px;
}

.sorting-list a {
    margin-right: 24px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.sorting-list a:hover,
.sorttig-list a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active {
    color: #000000;
}

.sorting-list .sorting-current {
    color: #000000;
}

.catalog-wrapper {
    width: 100%;
    background: linear-gradient(to right,#efefef 0%,#efefef 35%,#fff 35%,#fff 100%);
}

.catalog-wrapper .container {
    display: flex;
}

.filters {
    min-width: 328px;
    margin-right: 72px;
    background-color: #efefef;
}

.filter {
    margin-left: 59px;
    margin-top: 81px;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 42px;
}

.filter-title {
    position: relative;
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.18px;
}

.filter-title::before {
    content: "";
    
    position: absolute;
    top: -12px;
    left: 0;
    
    width: 201px;
    height: 2px;
    
    background-color: #000000;
}

.filter-item-price .filter-title {
    margin-bottom: 35px;
}

.range-filter {
    width: 196px;
    padding-left: 4px;
}

.range-controls {
    position: relative;
    height: 2px;
    margin-left: 5px;
    margin-bottom: 9px;
}

.range-controls .scale {
    height: 2px;
    background-color: #dbdbdb;
}

.range-controls .bar {
    height: 2px;
    width: 60%;
    background-color: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: -10px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: -14px;
}

.range-controls .toggle-max {
    left: 99px;
}

.price-controls {
    font-size: 0;
    margin-left: -4px;
}

.price-controls label {
    display: inline-block;
    width: 45%;
    
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
    width: 60px;
    margin: 0;
    padding: 0;
    padding-left: 4px;
    
    
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0;
    
    color: rgba(0, 0, 0, 0.2);
    border: none;
    background-color: #efefef;
}

.filter-options,
.sorting-list {
    list-style: none;
}

.filter-options {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.filter-options label {
    position: relative;
    display: block;
    padding-left: 39px;
    
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: 0.14px;
    
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    
    width: 23px;
    height: 23px;
    
    left: -1px;
    top: 7px;

    background-image: url(../img/checkbox-off.svg);
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    
    width: 27px;
    height: 23px;
    
    left: -1px;
    top: 7px;

    background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label::after {
    opacity: 0.25;
}

.filter-input:disabled + label {
    color: #a6a6a6;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    
    width: 17px;
    height: 17px;
    
    left: -1px;
    top: 6px;
    
    border: 4px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    
    width: 9px;
    height: 9px;
    
    left: 7px;
    top: 14px;
    
    background-color: #000000;
    border-radius: 50%;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after {
    opacity: 0.25;
}

.content {
    position: relative;
}

.items {
    margin-top: 69px;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    margin-right: 40px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item img {
    margin-bottom: 25px;
}

.catalog-item-name {
    position: relative;
    min-width: 360px;
    margin-bottom: 45px;
}

.catalog-item-name h3 {
    max-width: 260px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.item-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.18px;
    color: #000000;
}

.catalog-item-name b {
    position: absolute;
    right: 0px;
    top: 2px;
    margin-right: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.16px;
}

.new {
    font-size: 14px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.7px;
    color: rgba(0, 0, 0, 0.2);
}

.btn-two {
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.13px;
    color: rgba(0, 0, 0, 0.5);
}

.btn-hwo:hover,
.btn-two:focus {
    color: #000000;
}

.btn-two:active {
    color: rgba(0, 0, 0, 0.2);
}

.pagination {
    margin-top: -10px;
    min-width: 760px;
    margin-bottom: 78px;
    
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination-item:not(:last-child):not(:first-child) {
    padding: 0 11px;
}

.pagination-list a {
    display: inline-block;
    padding-top: 23px;
    padding-bottom: 21px;
}

.pagination-list li:first-child a {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 191px;
}

.pagination-list li:last-child a {
    padding-left: 30px;
    padding-right: 26px;
    margin-left: 183px;
}

.pagination-item a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: .22em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
    color: #000000;
}

.pagination-item-current a,
.pagination-item:first-child a,
.pagination-item:last-child a {
    color: #000000;
}

.pagination-item:first-child a:hover,
.pagination-item:first-child a:focus,
.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus{
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item-current a:active,
.pagination-item:first-child a:active,
.pagination-item:last-child a:active {
    color: rgba(0, 0, 0, 0.3);
}

/*---footer---*/

.main-footer {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 0;
    color: #ffffff;  
}

.main-footer-inner {
    margin-top: 0;
}

.main-footer-wrapper {
    background-color: #464646; 
}

.footer-left,
.footer-right {
    width: 360px;
}

.footer-center {
    width: 440px;
}

.footer-left {
    position: relative;
    margin-left: -1px;
    margin-top: 60px;
}

.footer-left::after {
    content: "";
    
    position: absolute;
    bottom: 79px;
    left: 1px;
    
    width: 80px;
    height: 7px;
    
    background-color: #ffc600;
}

.main-footer-logo {
    display: inline-block;
    margin-left: -2px;
    margin-bottom: 7px;
}

.footer-left p,
.footer-right p{
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0px;
}

.main-footer-logo,
.html-logo {
    color: #ffc600;
}

.main-footer-logo:hover, 
.html-logo:hover,
.main-footer-logo:focus, 
.html-logo:focus {
    opacity: 0.6;
}

.main-footer-logo:active, 
.html-logo:active {
    opacity: 0.3;
}

.site-nav-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 146px;
    margin-left: 8px;
    margin-right: 4px;
}

.site-nav-footer a,
.user-nav-footer a {
    color: #ffffff;
}

.user-nav-footer a:hover,
.site-nav-footer a:hover,
.user-nav-footer a:focus,
.site-nav-footer a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.user-nav-footer a:active,
.site-nav-footer a:active {
    color: rgba(255, 255, 255, 0.3);
}

.socials-btn {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socials-btn a {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.facebook-btn::before {
    content: "";
    
    position: absolute;
    top: 36px;
    left: 150px;
    
    width: 32px;
    height: 32px;
    
    background-image: url(../img/fb.svg);
    opacity: 0.3;
}

.instagram-btn::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 205px;
    
    width: 32px;
    height: 32px;
    
    background-image: url(../img/instagram.svg);
    opacity: 0.3;
}

.twitter-btn::before {
    content: "";
    
    position: absolute;
    top: -12px;
    left: 259px;
    
    width: 32px;
    height: 32px;
    
    background-image: url(../img/twitter.svg);
    opacity: 0.3;
}

.facebook-btn:hover::before,
.instagram-btn:hover::before,
.twitter-btn:hover::before {
    opacity: 0.6;
}

.facebook-btn:active::before,
.instagram-btn:active::before,
.twitter-btn:active::before,
.facebook-btn:focus::before,
.instagram-btn:focus::before,
.twitter-btn:focus::before {
    opacity: 0.1;
}

.footer-right {
    margin-top: 60px;
}

.user-nav-footer {
    display: flex;
    justify-content: flex-end;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.15px;
    margin: 0;
    padding: 0;
    margin-right: -2px;
    margin-bottom: 34px;
    list-style: none;
}

.user-nav-footer li {
    position: relative;
    display: block;
    min-width: 60px;
    padding-left: 40px;
    margin-left: 0px;
}

.login-link-footer a::before {
    content: "";
    
    position: absolute;
    height: 12px;
    width: 13px;
    top: 12px;
    left: 14px;
    
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.differences-footer a::before {
    content: "";
    
    position: absolute;
    height: 10px;
    width: 10px;
    top: 14px;
    left: 20px;
    
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-footer a::before {
    content: "";
    
    position: absolute;
    height: 12px;
    width: 12px;
    top: 12px;
    left: 18px;
    
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-right p {
    text-align: right;
    margin-right: -2px;
    margin-bottom: 30px;
}

.copyright {
    margin-left: 334px;
    margin-top: 62px;
    margin-bottom: 60px;
}

/*---MODAL---*/

.modal {
    background-color: #ffffff;
}

.login-form label {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form textarea[type="text"] {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #464646;
    background-color: #f2f2f2;
    border: none;
}

.login-form input[type="text"]:hover,
.login-form input[type="email"]:hover,
.login-form textarea[type="text"]:hover {
    background-color: #eaeaea;
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus,
.login-form textarea[type="text"]:focus {
    background-color: #ffffff;
    border: 3px solid #f7e296;
}